/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2023, 7:35:36 PM
    Author     : HP
*/

.buttn{
    -fx-background-color:rgb(105,176,238);
    -fx-text-fill:white;
}
.label{
    -fx-text-fill:rgb(47,99,124);
}